services:
  astro:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        - STRAPI_URL=${STRAPI_URL}
        - HIEVENTS_API_HOST=${HIEVENTS_API_HOST}
        - HIEVENTS_EVENT_ID=${HIEVENTS_EVENT_ID}
        - MAX_TICKETS=${MAX_TICKETS}
        - MODE=${MODE}
        - MATOMO_ENABLED=${MATOMO_ENABLED}
        - MATOMO_HOST=${MATOMO_HOST}
        - MATOMO_SITE_ID=${MATOMO_SITE_ID}
        - MATOMO_DISABLE_COOKIES=${MATOMO_DISABLE_COOKIES}
    container_name: normandieai-astro
    ports:
      - "4321:4321"
    environment:
      - STRAPI_URL=${STRAPI_URL}
      - HIEVENTS_API_HOST=${HIEVENTS_API_HOST}
      - HIEVENTS_EVENT_ID=${HIEVENTS_EVENT_ID}
      - MAX_TICKETS=${MAX_TICKETS}
      - MODE=${MODE}
    restart: unless-stopped
