@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --notch-height: 40px;
  --notch-border-width: 10px;
}

@theme {
  --breakpoint-xs: 30rem;
  --animate-marquee: marquee 5s linear infinite;
  @keyframes marquee {
    0% {
      transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
      transform: translate3d(var(--move-final), 0, 0);
    }
  }
}

html {
  scroll-behavior: smooth;
  background-color: #ffffff;
}

.mt-notch {
  margin-top: calc(var(--notch-height) * -1);
}

.pb-notch {
  padding-bottom: var(--notch-border-width);
}

.blur-circle {
  background: #4863b7;
  opacity: 0.7;
}

.ticket-shape {
  clip-path: none;

  @media (min-width: 40rem) {
    clip-path: url(#ticket-shape);
  }
}

.markdown {
  h2 {
    @apply text-2xl font-bold my-4;
  }
  h3 {
    @apply text-xl font-bold my-3;
  }
  h4 {
    @apply text-lg font-bold my-2;
  }
  p {
    @apply text-base prose;
  }
  ul {
    @apply list-disc pl-4;
  }
  ol {
    @apply list-decimal pl-4;
  }
  li {
    @apply my-2;
  }
  a {
    @apply text-blue-500 underline;
  }
  hr {
    @apply my-8 opacity-20;
  }
}
